<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <tr>
        <td style="padding: 3px 3px 3px 3px; color:#5ff8b8;">sessionid:<span th:text="${map.sessionid}"></span></td>
        <td style="padding: 3px 3px 3px 3px; color:#9c3a55;">ip:<span th:text="${map.ip}"></span></td>
        <td style="padding: 3px 3px 3px 3px; color:#9c7b34;">port:<span th:text="${map.port}"></span></td>
    </tr>
</table>

</body>
</html>